@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
body{
  background-color: #131722;
  color: white !important;
  font-family:'Montserrat Alternates',
    sans-serif;
}
input{
  background-color: transparent !important;
  color: white !important;
}
.brdr {
  height: 1px;
  background-color: #a8a8a83d;
}
.movie h5, .movie h5:hover{
  color: white !important;
}
a{
  text-decoration: none;
}